/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    text-align: center;

    color: #007755;
    background-color: #ffffff;
}

h1 {
    font-size: 7rem;
}

.numbers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    border: 1rem solid #007755;
    border-radius: 10px;
    font-size: 5rem;
}

.numbers-container span::before{
    content: "-";
}

.numbers-container span::after{
    content: "-";
}
